/* .story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)),
    url("../../../assets/images/Mask-group.png");
} */
/* .story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)),
    url("../../../assets/images/Mask-group1.png");
}
.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)),
    url("../../../assets/images/Mask-group2.png");
}
.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)),
    url("../../../assets/images/Mask-group3.png");
}
.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)),
    url("../../../assets/images/Mask-group4.png");
} */

.slick-prev, .slick-next {
  background: transparent !important; 
}
/* 
.middle-content .slick-prev {
  left: -25px !important;
  color: rgb(60, 57, 57) !important; 
}
.middle-content  .slick-next {
  right: 19px !important;
  color: rgb(60, 57, 57) !important; 
} */

/* .middle-content .slick-next::before, .middle-content .slick-prev::before{
  margin: 0 10px ;
  color: rgb(5, 208, 39) !important; 
} */

.slick-prev {
  left: -25px !important;
}

.slick-next {
  right: -7px !important;
}

.slick-prev:before, .slick-next:before { 
  margin: 0 10px ;
  color: rgb(60, 57, 57) !important; 
}  
 