.container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(34%, 1fr));
  gap: 8px;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.container .horizontal {
  grid-column: auto / span 2;
}
.container .vertical {
  grid-row: auto / span 2;
}
